header {
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  background-color: $header-background;
  font-family: $sans-serif;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  .top_nav {
    float: right;
    ul {
      text-align: left;
      li {
        display: inline-block;
        list-style: none;
        &:not(:first-child):not(:last-child):before {
          content: "|";
          padding: 0 15px;
        }
        &:last-child {
          padding: 0 0 0 15px;
        }
        a {
          color: $top-nav-link-color;
          &:hover {
            color: $red;
          }
        }
        img {
          margin: -2px 5px 0 0;
        }
        form {
          display: inline-block;
          vertical-align: middle;
          .search {
            position: relative;
            span {
              background-image: url('/images/magnifier.jpg');
              background-position: right center;
              background-repeat: no-repeat;
              position: absolute;
              top: 5px;
              right: 10px;
              height: 30px;
              width: 30px;
            }
            input {
              display: block;
              height: 40px;
              width: 220px;
              padding: 15px;
              font-size: $search-font-size;
              background-color: $search-background;
              border: 0;
              -webkit-box-shadow:inset 0 0 5px #000;
                 -moz-box-shadow:inset 0 0 5px #000;
                      box-shadow:inset 0 0 5px #000;
            }
          }
        }
      }
    }
  }
}
//
//
// header img > ul > li:nth-child(1) a {
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 88px;
// }
//
// header img > ul > li:nth-child(2) a {
//   height: 35px;
//   padding: 0 10px;
//   font-size: 23px;
//   line-height: 35px;
//   background: black;
// }
//
// header img > ul > li:nth-child(3) a {
//   text-transform: uppercase;
//   font-weight: 700;
//   padding: 10px;
//   font-size: 25px;
//   display: inline-block;
// }
//
// header img > ul > li:nth-child(4) form {
//   background: $white;
//   margin-bottom: 15px;
// }
//
// header img > ul > li:nth-child(4) span {
//   display: inline;
// }
//
// header img > ul > li:nth-child(4) input {
//   padding: 15px;
//   display: inline-block;
//   color: $lightGrey;
//   text-decoration: none;
// }
//
// header img > ul > li:nth-child(4) input:hover {
//   background: $lightGrey;
// }
//
//
// @media only screen and (max-width: 960px) {
//   header img ul li {
//     display: none;
//   }
//
//   header img > ul > li:nth-child(1),
//   header img > ul > li:nth-child(4) {
//     display: block;
//   }
//
//   header img > ul > li:nth-child(1) {
//     text-align: center;
//     padding: 30px 0;
//   }
//
//   header img > ul > li:nth-child(1) a {
//     font-size: 40px;
//   }
//
//
// @media only screen and (max-width: 640px) {
//   header img > ul > li:nth-child(1) {
//     text-align: center;
//     padding: 15px 0;
//   }
//
//   header img > ul > li:nth-child(1) a {
//     font-size: 30px;
//   }
//
//   header img > ul > li:nth-child(4) form span {
//     float: right;
//     display: block;
//   }
//
//   header img > ul > li:nth-child(4) form span input:before {
//     content: '\2630';
//   }
//
//   header img > ul > li:nth-child(4) form {
//     display: none;
//   }
//
//   header img > ul > li:nth-child(4) form span input {
//     width: 100%;
//   }
