* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1200px) {
  .container{
    max-width: 935px;
  }
}

body {
  margin: auto 0;
  font-family: 'PT Sans', sans-serif;
}
